/* NO ESTA ENLAZADO STYLE.CSS AL INDEX */
/* seccion revision/requisitos - estilos de tabs*/
.nav-tabs.centered > li, .nav-pills.centered > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs.centered, .nav-pills.centered {
    text-align:center;
}
center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row.featurette{
	margin-top:100px;
	margin-bottom:50px;
}
.container.marketing{
	/*height:380px;*/
}
.nav.nav-tabs.centered{
	/*margin-bottom:35px;*/
}
.tab-pane.fade{
	padding:30px;
}
#myTab li a { 
	color:#13A3D1;
}
#myTab li.active a {
	background-color:#13A3D1; 
	color:white;
}
.my-tab.tab-pane{ 
	color:#13A3D1;
}
#revision{
	height:280px;
	/*color:white;*/
	background-color: #DCDCDC;
}
#requisitos, #normativa{
	/*color:white;*/
	background-color: #DCDCDC;
}
/* fin seccion revision y requisitos*/

/* contacto */
.noresize {
  resize: none; 
}
textarea {
  min-height:110px;
}
/* fin seccion contacto */









